<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="SAVE-TO-BUSINESS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/business.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %msg%n
            </Pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="logger" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>
    <logger name="businessLogger" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-BUSINESS-FILE"/>
    </logger>
</configuration>